.container {
    border-left: 3px solid grey;
    padding: 0 0 0 30px;
}

.h4 {
    font-family: Roboto;
}

.h5 {
    color: #575353;
    font-family: Roboto;
}

.checkbox input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid #0000008a;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
}

.checkbox input[type="checkbox"]::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    left: 6px;
}

.checkbox input[type="checkbox"]:checked::before {
    border-color: white;
    border-style: solid;
    opacity: 1;
}

.checkbox input[type="checkbox"]:checked {
    border-color: #6200eeff;
    background: #6200eeff;
    transition: 0.4s;
}


/* Disabled */

.containerDis {
    margin-top: 100px;
}

.checkboxContainer {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.checkbox input[type="checkbox"]:checked:disabled {
    color: white;
    border-color: #C6C1C1;
    background: #C6C1C1;
}

.checkbox input[type="checkbox"]:disabled {
    border: 2px solid #C6C1C1;
}