.container {
    border-left: 3px solid grey;
    padding: 0 0 0 30px;
}

.h4 {
    font-family: Roboto;
}

.h5 {
    color: #575353;
    font-family: Roboto;
}

.input[type="radio"] {
    display: none;
}

.input[type="radio"]+.label {
    content: "";
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #00000089;
    margin-right: 5px;
}

.input[type="radio"]:checked+.label {
    border: 2px solid #6200eeff;
}

.input[type="radio"]:checked+.label::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #6200eeff;
    position: absolute;
    margin: 3px;
}


/* Disabled */

.containerDis {
    margin-top: 100px;
}

.input[type="radio"][disabled]+.label {
    border: 2px solid #C6C1C1;
    cursor: default;
}

.input[type="radio"]:disabled:checked+.label::after {
    background: #C6C1C1;
    cursor: default;
}