.container {
    border-left: 3px solid grey;
    padding: 0 0 0 30px;
    position: relative;
}

.circle {
    background-color: grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 80px;
}

.topContainer {
    height: 130px;
    width: 200px;
}

.h4 {
    font-family: Roboto;
}

.h5 {
    color: #575353;
    font-family: Roboto;
}

.input {
    appearance: none;
    width: 36px;
    height: 15px;
    border-radius: 8px;
    background-color: #C6C2C2;
    position: absolute;
    cursor: pointer;
}

.input::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -2.5px;
    background-color: white;
    box-shadow: 0px 0px 0px 0.5px #787474;
    transition: 0.4s;
    cursor: pointer;
}

.input:checked {
    appearance: none;
    width: 36px;
    height: 15px;
    border-radius: 8px;
    background-color: #6200ee89;
    position: absolute;
    cursor: pointer;
}

.input:checked::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0.5px #787474;
    transition: 0.4s;
    cursor: pointer;
    background-color: #6200eeff;
    transform: translateX(20px);
}


/* Disabled */

.input:disabled {
    background-color: #DFDEDE;
}

.input:disabled::before {
    background-color: #C6C1C1;
    box-shadow: 0px 0px 0px 0.5px white;
    transition: 0.4s;
    cursor: default;
}

.input:disabled:checked {
    background-color: #C09FEF;
    cursor: default;
    margin-left: 60px;
}

.input:disabled:checked::before {
    cursor: default;
    background-color: #A678E1;
}