.div {
    margin: 30px;
}

.input {
    position: absolute;
    width: 280px;
    height: 56px;
    border: none;
    box-sizing: border-box;
    border-radius: 0.3rem 0.3rem 0 0;
    border-bottom: 0.1rem solid black;
    background-color: #F2F2F2;
    font-size: 16px;
    padding: 12px;
}

.input:focus {
    border-bottom: 0.15rem solid #6200ee;
    background-color: #D3CFCF;
    padding-bottom: 4px;
}

.input:focus+.label,
.input:valid+.label {
    color: #6200ee;
    transition: ease-out 0.2s;
    line-height: 0px;
    font-size: 10px;
}

.label {
    position: absolute;
    padding: 12px;
    font-family: Roboto;
    line-height: 28px;
    color: #575353;
}

.input:disabled+.label {
    position: absolute;
    width: 280px;
    height: 56px;
    border: none;
    box-sizing: border-box;
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: #E7E4E4;
    font-size: 16px;
    padding: 12px;
    color: #A3A0A0;
}